<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <script>
        function getvalue() {


            var name = 'update'
            localStorage.setItem('Name', name);
        }
    </script>
    <script src="{% static 'fontawesome/all.min.js' %}"></script>

</head>

<body style="background-image: url('/static/images/vicky-adams-gywHscPZwMM-unsplash.jpg')">

    <ul>
        <li><a href="#home">Home</a></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">ScoreBoard </a>
            <div class="dropdown-content">
                <a href="Batting">Batting</a>
                <a href="Bowling">Bowling</a>
                <a href="delete">Delete</a>
            </div>
        </li>
        <li><a href="#news">Contact</a></li>

        <li><a href="#news">Logout</a></li>
    </ul>


    <div class="content">
        <form action="{% url 'update2'  score=score overs=overs covers=covers team1=team1 team2=team2 striker=striker non_striker=non_striker bowler=bowler wickets=wickets pid1=pid1 pid2=pid2 gone=gone stbow=stbow op1b=op1b op2b=op2b op1r=op1r op2r=op2r b1=b1 b2=b2 b3=b3 b4=b4 b5=b5 b6=b6  sp1=sp1 sp2=sp2 bowo=bowo bowr=bowr boww=boww %}"
            method="POST">
            {% csrf_token %}


            <div class="score">


                <div class="druns">
                    <label id="lr" style="margin-left: 80px;">Runs</label>
                    <input type="text" placeholder="Enter Runs" name="runs" id="runs" autofocus value="">
                    <br><br><br>
                    <label for="" id="rd" style="margin-left: -45px;">Leg Bye </label>
                    <input type="checkbox" value="leg bye" name="rc">
                    <label for="" id="rd">Wide</label>
                    <input type="checkbox" value="wide" name="rc">
                    <label for="" id="rd">No Ball</label>
                    <input type="checkbox" value="no ball" name="rc">
                    <label for="" id="rd">Over Throw</label>
                    <input type="checkbox" value="over throw" name="rc">


                    <br><br>


                </div>
                <div class="checkcon">

                    <label for="" id="rd" style="margin-left: 100px;">Runs</label>
                    <input type="checkbox" value="runs" name="rc" checked>
                </div>

                <div class="checkcon2" style="margin-top: 20px;">
                    <label id="lr" style="margin-left: -80px;color: chocolate;">Wicket :</label>
                    <label for="" id="rd" style="margin-left: 10px;color: blueviolet;">Bold</label>
                    <input type="checkbox" value="bold" name="wc">
                    <label for="" id="rd" style="color: blueviolet;">LBW</label>
                    <input type="checkbox" value="lbw" name="wc">
                    <label for="" id="rd" style="color: blueviolet;">Catch</label>
                    <input type="checkbox" value="catch" name="wc">
                    <label for="" id="rd" style="color: blueviolet;">None</label>
                    <input type="checkbox" value="none" name="wc" checked>

                    <br><br>
                </div>

                <div class="checkcon">
                    <label for="" id="rd" style="margin-left: -30px;color: darkgreen;">Run Out --></label>
                    <label for="" id="rd" style="color: blueviolet;">Striker</label>
                    <input type="checkbox" value="striker" name="wc">
                    <label for="" id="rd" style="color: blueviolet;">Non Striker</label>
                    <input type="checkbox" value="non striker" name="wc">
                </div>

                <input type="submit" name="" id="sub" value="Submit">

            </div>


        </form>
    </div>


    <div class="live">
        <img src="/static/images/Flag-Australia.jpg" alt="" id="img1">
        <div class="s1" style="padding-top: 20px;margin-top: -80px;"><span style="color: red;font-size: 20px;font-weight: bolder;">{{sp1}}</span> {{striker}}</div>
        <br>
        <div class="s1"><span style="color: red;font-size: 20px;font-weight: bolder;">{{sp2}}</span> {{non_striker}}</div>


        <div class="pruns">
            <span style="font-size: 20px;font-weight: bold;">{{op1r}} <span style="font-size: 13px;font-weight: bold;">{{op1b}}</span></span>
        </div>
        <div class="pruns2">
            <span style="font-size: 20px;font-weight: bold;">{{op2r}} <span style="font-size: 13px;font-weight: bold;">{{op2b}}</span></span>
        </div>



        <div class="scoreb">
            <div id="op3">
                Aus Batting
            </div>
            <div id="tm1">
                <span id='op2'>{{overs}}</span>



                <div id="tov">
                    <span id='op'>{{covers}}</span>
                    <div id="ov">

                        Ind <span style="padding-left: 10px;">{{score}}-{{wickets}}</span>


                    </div>

                </div>

            </div>

            <div class="bow">

                <div style="margin-left: -10px;margin-top: -25px;">{{bowler}}

                    <span style="margin-left: 10px;">{{boww}}-{{bowr}} <span style="margin-left: 10px;font-size: 20px;">{{bowo}}</span></span>



                    <div class="cove">

                        <div id="ruu">{{b1}}</div>
                        <div id="ruu">{{b2}}</div>
                        <div id="ruu">{{b3}}</div>
                        <div id="ruu">{{b4}}</div>
                        <div id="ruu">{{b5}}</div>
                        <div id="ruu">{{b6}}</div>
                    </div>

                </div>

                <div id="imgg">
                    <img src="/static/images/1200px-Flag_of_India.svg.png" alt="" id="img2">
                </div>

            </div>
</body>

</html>