<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'fontawesome/all.min.js' %}"></script>

    <body>

        <div class="container">

            <form action="/" method="POST">
                {% csrf_token %}
                <h1 class="hone">Login</h1>

                <i class="fas fa-user" id='i1'></i> <input type="text" placeholder="Enter Username" class="in" name='username' autofocus><br><br>
                <i class="fas fa-key" id='i2'></i><input type="password" placeholder="Enter Password" class="inn" name="password"><br><br>
                <input type="submit" value="Submit" class="b1">

            </form>

            <h4>{{msg}}</h4>

        </div>
    </body>

</html>