<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body style="background-image: url('/static/images/counter_strike_global_offensive_13-wallpaper-2736x1824.jpg')">
    <ul>
        <li><a href="select">Home</a></li>
        <li><a href="#news">Contact</a></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Employee Details</a>
            <div class="dropdown-content">
                <a href="allemployes">All Employee Details</a>
                <a href="update">Update</a>
                <a href="delete">Delete</a>
            </div>
        </li>
        <li><a href="#news">Logout</a></li>
    </ul>



    <div class="container">

        <form action="/" method="POST">
            {% csrf_token %}
            <h1 class="hone">Login</h1>

            <i class="fas fa-user" id='i1'></i> <input type="text" placeholder="Enter Username" class="in" name='username'><br><br>
            <i class="fas fa-key" id='i2'></i><input type="password" placeholder="Enter Password" class="inn" name="password"><br><br>
            <input type="submit" value="Submit" class="b1">

        </form>

        <h4>{{msg}}</h4>


    </div>
</body>

</html>